/* -------- for PC ( more than 800px )----------------- */
@media screen and (min-width: 800px) {
  .main {
    margin: 0 auto;
    max-width: 800px;
  }

  .mypage .payments table tr {
    display: table-row;
  }
  .mypage .payments table tr td {
    width: auto;
  }
  .mypage .payments table tr td:first-child {
    border: none;
    padding: 10px;
    width: auto;
  }
}

/* -------- for less than 350px (iPhone 5/SE) ------------------ */
@media screen and (max-width: 350px) {
  .gnav .gnav__title .gnav__titlename {
    font-size: 15px;
  }
}
